.no-msg-center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 20px;
}

ion-icon{
    margin-left: 50px;
    font-size: 50px;
}

form{
    bottom: 0;
    position: fixed;
    width: 98%;
    border-top: 1px outset rgb(184, 184, 184); 
}